html {
    font-family: "Public Sans", sans-serif;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.pinturas .pintura {
    width: 335px;
    height: 431px;
    position: relative;
}

.pinturas .pintura img {
    width: 100%;
}

.pinturas .pintura .informacoes {
    position: absolute;
    color: white;
    bottom: 40px;
    left: 20px;
}

.pinturas .pintura .informacoes .titulo {
    font-size: 30px;
    margin-bottom: 8px;
}

.pinturas .pintura .informacoes .subtitulo {
    font-size: 17px;
    font-weight: 300;
}